<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Springboard</title>
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
</head>
<body>
    <div id="hiw" class="hiw">
	    <div class="container">
		<div class="row">
			<div class="hiwbtn"><h4>x</h4></div>
		    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hiwWrap">
			<img src="{% static "images/hiw1.png" %}" alt="Step1" class="img-responsive">
			
			<div class="hiwHeading">
			    <h3>Work With Student Advisor.</h3>
			</div>
			<div class="hiwDesc">
			    <p>Course orientation sets the stage for your success. Share your aspirations and get oriented with our online platform. Talk to your student advisor to ask questions and chat about your goals.</p>
			</div>
		    </div>
		    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hiwWrap">
			<img src="{% static "images/hiw2.png" %}" alt="Step2" class="img-responsive">
			<div class="hiwHeading">
			    <h3>Meet with your Mentor</h3>
			</div>
			<div class="hiwDesc">
			    <p>You’ll speak with your mentor each week. Use the time to get feedback on the previous week's project, answers to your questions, or real-world career advice.</p>
			</div>
		    </div>
		    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hiwWrap">
			<img src="{% static "images/hiw3.png" %}" alt="Step3" class="img-responsive">
			<div class="hiwHeading">
			    <h3>Learn by Doing.</h3>
			</div>
			<div class="hiwDesc">
			    <p>Project-packed curriculum. Apply your learning, get comfortable with the tools of the trade and start building projects for your portfolio!</p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% static "../" %}"><img id="logo" src="{% static "images/logo2.png" %}" alt="Springboard"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="hiwbtn" href="#">How it works</a></li>
                 <li><a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                </ul>
                <div class="navbar-form navbar-right">
                    <form action="{% static "../search" %}" method="get" class="input-group search">
                        <input id="squery" class="form-control" name="squery" type="text" placeholder="Learn about...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" type="button">Go!</button>
                        </span>
                    </form>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!--modal signup-->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form >
                        <div class="">
                            <div class="">
                                <button type="button" class="btn fb partyLogin btn-primary btn-block">Continue with Facebook</button>
                            </div>
                            <br>
                            <div class="">
                                <button type="button" class="btn partyLogin btn-danger btn-block">Continue with Google+</button>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" style="background-image: url(images/inputBg.gif);background-repeat: no-repeat;background-position: right 11px;" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" style="background-image: url(images/inputBg.gif);background-repeat: no-repeat;background-position: right 11px;" placeholder="Last name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-lg" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <div class="smallText">
                            By signing up, I agree to Springboard's <a href="#">Terms of Service</a> and <a href="#" data-popup="true">Privacy Policy</a>.
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-learn btn-block">Sign Up</button>
                        </div>
                        <hr/>
                        <div class="smallText">
                            Already a Member?<a data-toggle="modal" data-dismiss="modal" data-target="#loginModal">Log In</a>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/modal-->
    <!--modal login-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="">
                        <div class="">
                            <div class="">
                                <button type="button" class="btn fb partyLogin btn-primary btn-block">Facebook</button>
                            </div>
                            <br/>
                            <div class="">
                                <button type="button" class="btn partyLogin btn-danger btn-block">Google+</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <input type="email" class="form-control input-lg"  placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <div class="smallText">
                            <label for="rememberMe" class=" ">
                              <input type="checkbox" name="remember_me" id="rememberMe" value="true" class="remember_me">
                              Remember me
                            </label>
                            <a href="#" class="forgot-password pull-right">Forgot password?</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-learn btn-block">Log In</button>
                        </div>
                        <hr/>
                        <div class="smallText">
                            Don't have an account?<a data-toggle="modal" data-dismiss="modal" data-target="#signupModal ">Sign Up</a>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/modal-->
    <div class="searchbody">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                    <div class="filterwrap">
                        <div class="filtercontainer">
                            <h4>Availability</h4>
                            <div class="filtercat">
                                <div class="checkbox"> <label> <input type="checkbox"> This Month </label>  <span class="badge">3</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Pre-Enroll </label> <span class="badge">6</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> 1-2 Months </label> <span class="badge">1</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> 3+ Months </label>  <span class="badge">2</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> 2-3 Months </label>  <span class="badge">8</span> </div>
                            </div>
                            <h4>Topics</h4>
                            <div class="filtercat">
                                <div class="checkbox"> <label> <input type="checkbox"> Business </label> <span class="badge">30</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Data Science  </label>  <span class="badge">234</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Computer Science </label>  <span class="badge">135</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Arts and Humanities </label> <span class="badge">18</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Physical Science and Engineering </label>  <span class="badge">9</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Math and Logic </label>  <span class="badge">167</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Personal Development </label>  <span class="badge">6</span> </div>
                            </div>
                            <h4>Course Languages</h4>
                            <div class="filtercat">
                                <div class="checkbox"> <label> <input type="checkbox"> English </label> <span class="badge">329</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Hebrew </label>  <span class="badge">3</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> French </label>  <span class="badge">5</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Italian </label> <span class="badge">2</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Hindi </label> <span class="badge">13</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Latin </label> <span class="badge">2</span>  </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Marathi </label>  <span class="badge">7</span> </div>
                            </div>
                            
                            <h4>Subtitle Languages</h4>
                            <div class="filtercat">
                                <div class="checkbox"> <label> <input type="checkbox"> English </label> <span class="badge">329</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Hebrew </label> <span class="badge">5</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> French </label>  <span class="badge">2</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Italian </label>  <span class="badge">1</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Hindi </label>  <span class="badge">8</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Latin </label>  <span class="badge">3</span> </div>
                                <div class="checkbox"> <label> <input type="checkbox"> Marathi </label> <span class="badge">2</span>  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h5>You searched for <span><b>{{ form }}.</b></span></h5>
                    <h2>Courses and Specialization</h2>
                    <ul>
                        {% for i in content.elements %}
                            {% for j in content.elements %}
                            
                                <div class=" search row">
                                    <div class="searchwrap">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div class="imgcontainer">
                                                    <a href="#"><img class="img-responsive" src="{% static "images/courseimg.jpg" %}" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                
                                                    <a href="#"><h4>{{ j.name }}</h4></a>
                                                
                                                <div class="university">
                                                    <a href="#"><p>University of Michigan</p></a>
                                                </div>
                                                <div class="instructor">
                                                    <a data-toggle="popover"  data-content=" <img src='{% static 'images/prof.jpg' %}' class='img-circle'> <p><b>Dr Sorrel Harriet</b></p> <span class='date'>Faculty at</span> <p>Harvard University</p> " data-html="true" >Dr Sorrel Harriet</a>
                                                    <a data-toggle="popover"  data-content=" <img src='{% static 'images/prof.jpg' %}'  class='img-circle'> <p><b>Dr Sorrel Harriet</b></p> <span class='date'>Faculty at</span> <p>MIT University</p> " data-html="true" >, Dave Nagy </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="cleafix"></div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-lg-push-3 col-md-12 col-sm-12 footer-tab">
                    <div class="row">
                        <ul class="col-lg-4 col-md-4 col-sm-4  list-unstyled">
                            <li><p class=""><strong>Company</strong></p></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Interns</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">The Team</a></li>
                            <li><a href="#">How it Works</a></li>
                        </ul>
                        <ul class="col-lg-4 col-md-4 col-sm-4 list-unstyled">
                            <li><p class="color-alt-grey mmB"><strong>Social</strong></p></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Dribble</a></li>
                        </ul>
                        <ul class="col-lg-4 col-md-4 col-sm-4  list-unstyled">
                            <li><p class="color-alt-grey mmB"><strong>Other</strong></p></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#" target="_blank">Terms of Use</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-lg-pull-9 col-md-12  col-md-12 footer-tab">
                    <img class="img-responsive fLogo" src="{% static "images/logo.png" %}">
                    <p>© 2016 Springboard</p>
                    <p class=""><a href="https://www.facebook.com/springboard" target="_blank">Facebook</a> - <a href="https://twitter.com/springboard" target="_blank">Twitter</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
        placement : 'right',
        trigger : 'hover'
    });
          });
    </script>
    <script>
	$(document).ready(function(){
	  $(".hiwbtn").click(function(){
	    $("#hiw").slideToggle();
	    if ($("#hiwbtn").text() === 'Close How it Works') {$("#hiwbtn").text('How it Works');} else {$("#hiwbtn").text('Close How it Works');}
	  });
	});
    </script>
    <script>
        $(window).scroll(function () { 
        
        footertotop = ($('#footer').position().top);
        scrolltop = $(document).scrollTop()+570;
        difference = scrolltop-footertotop;
        if (scrolltop > footertotop) {
        
        $('.filtercontainer').css('margin-top',  0-difference);
        }
        
        else  {
        $('.filtercontainer').css('margin-top', 0);
        }
        
        
        });
    </script>
</body>
</html>